/*
    RESET
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    CLEARFIX
*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/*
    BODY
*/
body{
    font-family: 'Fredoka', sans-serif;
}


/*
    HEADING PAGE
*/
.head-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 2.5em;
    font-weight: bolder;
}
.description{
    text-align: center;
    margin-bottom: 40px;
}

/*
CONTAINER
*/
.container-general{
    max-width: 1200px;
    margin: 0 auto;
}
.margin-x{
    margin-left: 20px;
    margin-right: 20px;
}
/*
    CARD 
*/
.idcard{
    height: 130px;
}
.card-container > * {
    float: left;
    height: 130px;
    background-color: black;
    margin-bottom: 50px;
}
.card-container > .idcard{
    width: calc((100% - 40px) / 3);
}
img{
    width: 130px;
    display: inline-block;
}



/*
    DEBUG
*/
.debug main{
    background-color: red;
}
.debug main .container-general{
    background-color: blue;
    border: 2px solid rgb(255, 251, 3);
    min-height: 300px;
}
.debug .card-container{
    min-height: 150px;
    background-color: green;
    border: 1px solid violet;
}
.debug .card-container >*{
    border: 1px solid orangered;
    
}